@import url('https://fonts.googleapis.com/css2?family=Lato&family=Ubuntu:ital@1&display=swap');

*{
    font-family: "Lato" , sans-serif;
    font-family: "Ubuntu" , sans-serif;
}

body {
    font-family: 'Space Grotesk', sans-serif;
}

header{
    display: flex;
    background-color: rgba(20, 88, 260, 0.800);
}

.busqueda {
    display: flex;
    justify-content: center;
    align-self: center;
}


.header-buscador-marco {
    height: 40px;
    border: 1px solid #CCCCCC;
    border-radius: 8px;
    display: flex;
    align-items: center;  
    padding-left: 5px;
    padding-right: 15px;
}

.header-buscador-marco input{
    width: 90%;
    height: 30px;
    border: 0;
    color: var(--gris);
}


.contenedorImgCarrito {
    width: 150px;
}

.imgCarro {
    display: flex;
    justify-content: center;
    align-self: center;
}

.logoTipo {
    width: 250px;
    height: 100px;
}


.imgcarrito {
    height: 50px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(58, 124, 255, 0.804);
}


footer {
    display: flex;
    background-color: #4c4747;
    justify-content: center;
}

.copy {
    display: flex;
    color: rgba(58, 124, 255, 0.804);
}

/* #container {
    display: flex;
} */


/* .container-carrito{
    display: flex;
}
#carrito{
    display:flex;
} */

.modal-backdrop.show{
    opacity: 0 !important
}
