@import url('https://fonts.googleapis.com/css2?family=Lato&family=Ubuntu:ital@1&display=swap');

*{
    font-family: "Lato" , sans-serif;
    font-family: "Ubuntu" , sans-serif;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: #141C29;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
	display: flex;
}